@import "meyer-reset.css";
@import "setup.css";

:root {
	font-family: helvetica, sans-serif;
}

iframe {
	width: 100%;
	margin-top: 20vh;
	border: 0px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.xpWfed {
  display: none;
}

@media only screen and (max-width: 600px){
	iframe {
		margin-top: 10vh;
	}
}