:root {
	--border-color: #807a6b;
	--link-hover: #F9F7E6;

/*	.darkmode {
		--section-bg: darkslategray;
		--card-bg: #181818;
		--btn-bg: #181818;
		color: whitesmoke;
}*/

	transition: all 2s ease-in-out;
}

lego-module {
	padding: 1rem;


	@media (width >= 600px){
		@media (width >= 600px){
			grid-template-columns: repeat(2, 1fr);
		}
	}

	lego-header {
		display: block;
		margin-bottom: 1rem;

		h2 {

		}
	}

	lego-content {
		display: grid;
		grid-template-columns: 1fr;

		border: 2px solid var(--border-color);

		@media (width >= 600px){
			grid-template-columns: 70% 1fr;
		}
	}

	listing-info {

		display: block;

		@media (width >= 600px){
			display: grid;
			grid-template-columns: repeat(2, 1fr);

			span:not(apply span, span + span) {
				border-right: 2px solid var(--border-color);
			}
		}

		h3 {
			display: block;

			border-bottom: 2px solid var(--border-color);

			font-size: 1.5rem;
			font-weight: 900;

			padding: 1rem;

			@media (width >= 600px){
				grid-column: span 2;
		}
		}

		span {
			display: block;

			font-weight: 900;

			border-bottom: 2px solid var(--border-color);
			padding: 1rem;
		}

		p {
			border-bottom: 2px solid var(--border-color);

			padding: 1rem;

			text-wrap: pretty;

			max-width: 62ch;

			@media (width >= 600px){
				grid-column: span 2;

				border-bottom: 0;
			}
		}
	}

	a {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		font-size: 1.5rem;
		font-weight: 600;

		padding: 5rem 0;

		&:hover {
			background-color: var(--link-hover);
		}

		@media (width >= 600px){
			border-left: 2px solid var(--border-color);

		span {
			border-bottom: 0;
		}
	}
}
