:root {

	--section-bg: whitesmoke;
	--card-bg: #d7cab5;
	--btn-bg: #b2dbff;

/*	.darkmode {
		--section-bg: darkslategray;
		--card-bg: #181818;
		--btn-bg: #181818;
		color: whitesmoke;
}*/

	transition: all 2s ease-in-out;
}

faq-module {
	display: grid;
	grid-template-columns: 1fr;

	min-width: 0;
	
	padding: 2rem 0 ;

	text-wrap: balance;

	@media (width >= 1100px){
		grid-template-columns: repeat(3, 1fr);
	}

	faq-header {
		display: grid;
		grid-column: span 2;
		margin-bottom: 1rem;

		display: flex;
		flex-direction: column;

		h2 {
			text-transform: uppercase;
			margin-bottom: .5rem;
		}

		p {
			max-width: 55ch;
			font-weight: 700;
		}

		.attention-voice {
			font-size: 1.125rem;
			font-weight: 400;
		}
	}

	faq-list {
		display: block;

		ul {

			li {

/*				position: relative;*/

				details {
					font-size: 1.125rem;
					line-height: 1.2;

/*					position: relative;*/
				}

				details > summary {
    				list-style: none;
				}

				summary::after {
				    content: "+";
				    font-size: 1rem;

			      	transition: transform 0.3s ease;

			      	/*&:not(content) {
			      		position: absolute;
						top: -10px;
					  	bottom: -10px;
					  	left: -10px;
					  	right: -10px;
					  	z-index: 1;
					}*/
				}
				
				details[open] {
					transition: transform 0.3s ease;
					margin-bottom: 2rem;
				}

				details[open] summary::after {
				    content: "-";
				    transform: rotate(180deg);
				}

					summary {
						display: flex;
						flex-direction: row;
						justify-content: space-between;

						cursor: pointer;

						font-size: .875rem;
						text-transform: uppercase;
						}
				}

				hr {
					padding: 0;
					margin-bottom: .5rem;
					border: .5px solid black;
				}
			}
		}

	}
}

